body {
  background-color: aliceblue;
}

.col-lg-4 {
  margin-top: 80px;
  padding-left: 100px;
}

.nav-item {
  padding-left: 40px;
}
#logouti {
  padding-left: 687px;
}
.bi {
  margin-right: 28px;
}
