body {
  background-image: url("../img/oback.jpg"); 
  margin: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

main.form-signin {
  margin-top: 80px;
  text-align: center;
  background-color: rgba(240, 227, 227, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.text-center {
  padding-bottom: 13px;
}

.form-check {
  text-align: left;
  margin-top: 13px;
}

.custom-form-floating {
  width: 250px;
  margin: 0 auto;
}

.form-floating {
  margin-top: 12px;
}

.btn-primary {
  margin-top: 20px;
}

.bi {
  margin-right: 28px;
}
.nav-link {
  margin-left: 1450%;
}
